@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ink: #111111;
  --paper: #ffffff;
}

body {
  background: var(--paper);
  color: var(--ink);
  font-family: var(--font-body);
}

h1,
h2,
h3 {
  font-family: var(--font-body);
}
